<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/1.0.3/numeral.min.js" integrity="sha512-sMgx0iqtQVrEwuUPBeRZE42fOPWIRBRb3CLaoK5gilEnzKTkdJpjguVk5HpcmOgjyZlHSGqXXugNlaovRhYLsg==" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.1.7/chance.min.js" integrity="sha512-dELYIOEzIECWdvsEdoywFOB4qKDmtQee33yD0dQnzAE7eBGKJ984VQXRLs/vlsP4Sb3VchbQL7iAy4NWqetCsw==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js" integrity="sha512-90vH1Z83AJY9DmlWa8WkjkV79yfS2n2Oxhsi2dZbIv0nC4E6m5AbH8Nh156kkM7JePmqD6tcZsfad1ueoaovww==" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="app" class="container">
	  <h3 class="title is-3">Vue v1 Search and Pagination</h3>
	  <h5 class="subtitle is-5">
		credit : 
		<a href="http://bulma.io/">bulma</a>, 
		<a href="https://vuejs.org/">vuejs</a>, 
		<a href="http://chancejs.com/">chancejs</a>, 
		<a href="http://lodash.com/">lodash</a>
	  </h5>
	  <div class="box m-form">
		<label class="label">Search Person Name</label>
		<div class="control is-grouped">
		  <p class="control is-expanded">
			<input class="input" v-model="searchItem" v-on:keyup="searchInTheList(searchItem)" type="text" placeholder="Find a person">
			<span class="help is-dark"><strong>{{filteredItems.length | numeral}}</strong> of {{items.length | numeral}} person found</span>
		  </p>
		  <p class="control">
			<a class="button is-info" v-on:click="clearSearchItem" v-bind:class="{'is-disabled': searchItem==''}">
			  Clear
			</a>
		  </p>
		</div>
	  </div>
	  <div class="box m-tags">
		<span><strong>{{selectedItems.length}}</strong> person selected</span>
		<div class="m-tags-items">
		  <a v-for="item in selectedItems" v-on:click="removeSelectedItem(item)" class="tag is-dark is-small">
			{{item.name}}
			<button class="delete is-small"></button>
		  </a>
		</div>
	  </div>
	  <nav class="pagination m-pagination">
		<a class="button" v-on:click="selectPage(pagination.currentPage-1)" v-bind:class="{'is-disabled': pagination.currentPage==pagination.items[0] || pagination.items.length==0}">Previous</a>
		<a class="button" v-on:click="selectPage(pagination.currentPage+1)" v-bind:class="{'is-disabled': pagination.currentPage==pagination.items[pagination.items.length-1] || pagination.items.length==0}">Next page</a>
		<ul class="pagination-list">
		  <li>
			<a class="button" v-on:click="selectPage(pagination.items[0])" v-bind:class="{'is-disabled': pagination.currentPage==pagination.items[0] || pagination.items.length==0}">
			  First
			</a>
		  </li>
		  <li class="is-space"></li>
		  <li v-for="item in pagination.filteredItems">
			<a class="button" v-on:click="selectPage(item)" v-bind:class="{'is-info': item == pagination.currentPage}">{{item | numeral}}</a>
		  </li>
		  <li class="is-space"></li>
		  <li>
			<a class="button" v-on:click="selectPage(pagination.items[pagination.items.length-1])" v-bind:class="{'is-disabled': pagination.currentPage==pagination.items[pagination.items.length-1] || pagination.items.length==0}">
			  Last
			</a>
		  </li>
		</ul>
	  </nav>
	  <div class="m-table">
    <table class="table is-bordered is-striped is-narrow">
      <tr>
        <th class="m-table-index">#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone</th>
        <th></th>
      </tr>
      <tr v-for="item in paginatedItems">
        <td>{{item.key}}</td>
        <td>{{item.name}}</td>
        <td>{{item.email}}</td>
        <td>{{item.address}}</td>
        <td>{{item.phone}}</td>
        <td><a class="button is-info is-outlined" v-on:click="selectItem(item)">Select</a></td>
      </tr>
    </table>
  </div>
	</div>

  

    <!-- Import Js -->
    <script type="application/javascript" src="./main.js"></script>
  </body>
</html>